{% extends 'base.html.twig' %}

{% block title %}Backlog index{% endblock %}

{% block body %}
    <h1>Backlog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for backlog in backlogs %}
            <tr>
                <td>{{ backlog.id }}</td>
                <td>{{ backlog.name }}</td>
                <td>{{ backlog.description }}</td>
                <td>{{ backlog.type }}</td>
                <td>
                    {% set places = workflow_marked_places(backlog) %}
                    {{ workflow_metadata(backlog, 'title', backlog.status) }}
                </td>
                <td>
                    {% if is_granted('MOVE', backlog) %}
                        <a href="{{ path('backlog_move_up', {'id': backlog.id}) }}">
                            <i class="fas fa-arrow-up"></i>
                        </a>
                        <a href="{{ path('backlog_move_down', {'id': backlog.id}) }}">
                            <i class="fas fa-arrow-down"></i>
                        </a>
                    {% endif %}
                    {% if is_granted('SHOW', backlog) %}
                        <a href="{{ path('backlog_show', {'id': backlog.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted('EDIT', backlog) %}
                        <a href="{{ path('backlog_edit', {'id': backlog.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('backlog_new') }}">Create new</a>
{% endblock %}
