{% extends 'base.html.twig' %}

{% block title %}Backlog{% endblock %}

{% block body %}
    <h1>Backlog</h1>

    <div class="row mb-3">
        <div class="col-2">
            <form action="{{ path('backlog_reset_marking', {id: backlog.id}) }}" method="post" class="form-inline">
                <button type="submit" class="btn btn-danger btn-xs">Reset status</button>
            </form>
        </div>

        <div class="col">
            <form action="{{ path('backlog_apply_transition', {id: backlog.id}) }}" method="post">
                <div class="btn-group-vertical" role="group">
                    {% for transition in workflow_transitions(backlog) %}
                        <button type="submit" name="transition" value="{{ transition.name }}" class="btn btn-primary">
                            {{ workflow_metadata(backlog, 'title', transition) }}
                        </button>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ backlog.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                {% dump(backlog.status) %}
                <td>{{ workflow_metadata(backlog, 'title', backlog.status) }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ backlog.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ backlog.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ backlog.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backlog_index') }}">back to list</a>

    {% if is_granted('EDIT', backlog) %}
        <a href="{{ path('backlog_edit', {'id': backlog.id}) }}">edit</a>
    {% endif %}

    {% if is_granted('DELETE', backlog) %}
        {{ include('backlog/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
