{% extends 'base.html.twig' %}

{% block title %}Backlog{% endblock %}

{% block body %}
    <h1>Backlog</h1>

    <div class="row mb-3">
        <div class="col-2">
            <form action="{{ path('backlog_reset_marking', {id: backlog.id}) }}" method="post" class="form-inline">
                <button type="submit" class="btn btn-danger btn-xs">Reset status</button>
            </form>
        </div>

        <div class="col">
            <form action="{{ path('backlog_apply_transition', {id: backlog.id}) }}" method="post">
                <div class="btn-group-vertical" role="group">
                    {% for transition in workflow_transitions(backlog) %}
                        <button type="submit" name="transition" value="{{ transition.name }}" class="btn btn-primary">
                            {{ workflow_metadata(backlog, 'title', transition) }}
                        </button>
                    {% endfor %}
                </div>
            </form>
        </div>

        <div class="col text-right">
            {% embed 'backlog/_delete_form.html.twig' %}
                {% block buttons %}
                    {{ parent() }}
                    {% if is_granted('EDIT', backlog) %}
                        <a class="btn btn-warning" href="{{ path('backlog_edit', {'id': backlog.id}) }}">Edit</a>
                    {% endif %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ backlog.id }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    {% dump(backlog.status) %}
                    <td>{{ workflow_metadata(backlog, 'title', backlog.status) }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ backlog.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ backlog.description }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ backlog.type }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            Critères d'acceptations
                        </div>
                        <div class="col text-right">
                            <a class="btn btn-primary rounded-circle" href="{{ path('acceptation_new', { 'id': backlog.id }) }}">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Critère</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for acceptation in backlog.acceptations %}
                            {% if workflow_has_marked_place(acceptation, 'accepted') %}
                                <tr class="table-success">
                            {% elseif workflow_has_marked_place(acceptation, 'refused') %}
                                <tr class="table-danger">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td>{{ acceptation.name }}</td>
                                <td>{{ acceptation.description }}</td>
                                <td class="text-right">
                                    <form action="{{ path('acceptation_apply_transition', {id: acceptation.id}) }}" method="post">
                                        <div class="btn-group" role="group">
                                            {% for transition in workflow_transitions(acceptation) %}
                                                <button type="submit" name="transition" value="{{ transition.name }}" class="btn btn-primary">
                                                    {{ workflow_metadata(acceptation, 'title', transition) }}
                                                </button>
                                            {% endfor %}
                                        </div>
                                    </form>

                                    {% embed 'acceptation/_delete_form.html.twig' %}
                                        {% block buttons %}
                                            {{ parent() }}
                                            <a class="btn btn-warning" href="{{ path('acceptation_edit', {'id': acceptation.id}) }}">Modifier</a>
                                        {% endblock %}
                                    {% endembed %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
